//
//  PPXCConfig_10.5sdk.xcconfig
//
//  Copyright 2013-2018 Josh Freeman
//  http://www.twilightedge.com
//
//  This file is part of PikoPixel for Mac OS X.
//  PikoPixel is a graphical application for drawing & editing pixel-art images.
//
//  PikoPixel is free software: you can redistribute it and/or modify it under
//  the terms of the GNU Affero General Public License as published by the
//  Free Software Foundation, either version 3 of the License, or (at your
//  option) any later version approved for PikoPixel by its copyright holder (or
//  an authorized proxy).
//
//  PikoPixel is distributed in the hope that it will be useful, but WITHOUT ANY
//  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
//  FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
//  details.
//
//  You should have received a copy of the GNU Affero General Public License
//  along with this program. If not, see <http://www.gnu.org/licenses/>.
//


// PikoPixel Xcode Configuration File for 10.5-10.13 SDKs

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PPXCCONFIG__10_5_SDK

PPXCCONFIG__RELEASE_ARCHS = ppc i386 x86_64

MACOSX_DEPLOYMENT_TARGET = 10.4
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 10.5
