<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PencilTool</key>
	<string>բ</string>
	<key>EraserTool</key>
	<string>է</string>
	<key>FillTool</key>
	<string>ֆ</string>
	<key>LineTool</key>
	<string>լ</string>
	<key>RectTool</key>
	<string>ր</string>
	<key>OvalTool</key>
	<string>ո</string>
	<key>FreehandSelectTool</key>
	<string>ա</string>
	<key>RectSelectTool</key>
	<string>ս</string>
	<key>MagicWandTool</key>
	<string>վ</string>
	<key>ColorSamplerTool</key>
	<string>տ</string>
	<key>MoveTool</key>
	<string>ւ</string>
	<key>MagnifierTool</key>
	<string>մ</string>
	<key>NavigatorPopup</key>
	<string> </string>
	<key>NavigatorPopup_Alternate</key>
	<string>*</string>
	<key>ToolsPopup</key>
	<string>զ</string>
	<key>ToolsPopup_Alternate</key>
	<string>ծ</string>
	<key>ColorPickerPopup</key>
	<string>ց</string>
	<key>ColorPickerPopup_Alternate</key>
	<string>ղ</string>
	<key>LayerControlsPopup</key>
	<string>գ</string>
	<key>LayerControlsPopup_Alternate</key>
	<string>շ</string>
	<key>BlinkDocumentLayers</key>
	<string>պ</string>
	<key>SwitchCanvasViewMode</key>
	<string>՝</string>
	<key>SwitchLayerOperationTarget</key>
	<string>\T</string>
	<key>ToggleActivePanels</key>
	<string>\R</string>
	<key>ToggleColorPickerPanel</key>
	<string>՚</string>
	<key>ZoomIn</key>
	<string>ժ</string>
	<key>ZoomOut</key>
	<string>ռ</string>
	<key>ZoomToFit</key>
	<string>օ</string>
</dict>
</plist>
